*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(4,32,70);
    background: linear-gradient(90deg, rgba(4,32,70,1) 8%, rgba(6,15,62,1) 63%, rgba(5,5,57,1) 97%);;
}
.box-container{
    position: relative;
    width: 30%;
    height: 40%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 20px;
}
.box-container::before{
    content: '';
    position: absolute;
    width: 150px;
    height: 140%;
    background: linear-gradient(#00ccff,#d400d4);
    animation: animate 4s linear infinite;
}
.box-container::after{
    content: '';
    position: absolute;
    inset: 4px;
    background: #0e1538;
    border-radius: 16px;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.box-container h2{
    position: relative;
    color: #fff;
    font-size: 10vw;
    z-index: 10;

}
